html{
    font-size: 18px;
    padding: 50px;
    font-family: 'Heebo', sans-serif;
     }

body{
   height:100%;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
}
.serif{
   font-family: 'Playfair Display', serif;
 }
/* *HEADER* */
header{
   display: flex;
   /* background-color: aliceblue; */
   justify-content: normal;
   align-items: center;
   padding: 0px;
   align-self: flex-start;
   flex-wrap: nowrap;   
}
div.blogname *{
   display:inline-flex;
}
   /* to make HELLO big and diff font */
   #hello{ 
         font-size: 75px;
         font-weight: 900;
         margin-left: 0px;
         margin-top: 10px;
         margin-bottom: 10px;
         color: black;
   }
   /* this is the "this is a blog!" part */
   #sub-blogname{
       align-self: flex-end;
       color: rgba(119, 119, 119, 0.384);
       font-weight: 900;
       font-size: 25px;
   }
   
   

   nav {
       display: flex;
       font-size: 20px;
       justify-self: right;
       margin-block-start: 0px;
       margin-block-end: 0px;
       float: right;
       
   }
       nav ul * {
           list-style-type: none;
           /* padding-top: 0px;
           padding-left: 7px; */
           /* margin-left: 0px;
           margin-right: 0px;
           padding: 0px; */
       }
       nav li{
           display: inline;
       }
       nav ul li a {
           color: rgba(0, 0, 0, 0.699);
           padding: 10px 7px;
           line-height:0.7;
           text-decoration: none;
       }
       .headnav{
           padding-bottom: 50px;
       }
       .headnav a:hover {
           text-decoration: none;
           color: rgba(223, 222, 222, 0.411);
       }
       .headnav a.active{
           color: rgba(153, 153, 153, 0.411);
       }


   /* ********MAIN POST AND CSS GRID******** */

   /* First I split the page into two columns */
   .container{
       display: grid;
       grid-template-columns: 3fr 1fr;
   }
       /*then, each column into two different rows   */
     .subgrid1 div{
             display: grid;
             grid-template-rows: auto 4fr;
         }

         nav.postnav{
           display: flex;
           justify-self: left;
           margin-block-start: 0px;
           margin-block-end: 0px;
           padding-inline-start: 0px;
           align-content: flex-start;
           font-size: 15px;
         }
         
         .meta ul li {
               padding-inline-start: 0px;
               display: list-item;
               list-style-type: none;
         }

       .postnav a:hover {
           text-decoration: none;
           color: rgba(223, 222, 222, 0.411);
       }
       .postnav a.active{
           color: rgba(153, 153, 153, 0.411);
       }

         /* formatting of BLOG POST TITLE */
         #postname{
           margin-bottom: 0px;
           padding-left: 35px;
           margin-top: 20px;
           font-weight:600;
           font-size: 50px;
       }

       /* formatting the text in the post section */
       div.text{
           margin-left: 80px;
           padding-right: 46px;
       }

       .text p{
           text-indent: 10px;
           line-height: 22px;
       }
      
       /* #martypic{
           max-width: 250px;
           height: auto;
       } */

       .archive .serif{
           text-align: center;
           margin:auto
       }

       .archive ul li{
           font-size: 18px;
           font-weight: 900;
       }

      /* This is the aside column being split into rows */
      /* .subgrid2 div{
          display: grid;
          grid-template-rows: 5fr 1fr;
         }

         div.author{
             display: flex;
             justify-content: normal;
             align-items: center;
             padding: 0px;
             align-self: flex-start;
             flex-wrap: nowrap;  
             padding-left: 45px;
             padding-top:45px; 
         } */

       /* adding borders between the blog post itself and the side section */
       div.container{
           margin: auto;
           border-left: none;
           border-right: none;
           border-top-style: solid;
           border-top-width: 4px;
           border-top-color: black;
           border-bottom-style: solid;
           border-bottom-width: 4px;
           border-bottom-color: black;
       }
   
       div.aside{
           border-top: none;
           border-bottom: none;
           border-right: none;
           border-left-style: solid;
           border-left-width: 4px;
           border-left-color: black;
       }

